<?php
/**
 *
 * @block EyeQue\Linneo\Block\Member\Index
 */

$baseUrl = $block->getBaseUrl();

// Getting checkout session to get saved values.
$cartSession = $block->getCheckoutSession();
$formvalues = (array)$cartSession->getFormDataSession();

// Getting display class if additionalInfo
$popupDisplayClass = $block->getPopupDisplayClass();

// Controller url and Allowance button
$controllerUrl = $block->getControllerUrl();
$applowAllowance = $block->getButtonLabel();

// Getting cart sub total.
$cartSubTotal = $block->getSubtotalHtmlCustom();
if( empty($cartSubTotal)) { $cartSubTotal = 0; }

?>

<div class="popup-background-linneo-member">
    <div class="tinneo-member-section-popup  <?= /* @escapeNotVerified */  __($popupDisplayClass) ?>">
        <form class="tinneo-member-discount" id="tinneo-member-discount" action="<?= /* @escapeNotVerified */ __($controllerUrl) ?>" method="post"  autocomplete="off" >
            <input type="hidden" class="form-control" name="cart-total" value="<?= /* @escapeNotVerified */ __($cartSubTotal) ?>">
            <input type="hidden" class="form-control" name="first-name" value="<?php /* @escapeNotVerified */ if(!empty($formvalues['first-name'])) {echo $formvalues['first-name'];} ?>">
            <input type="hidden" class="form-control" name="last-name" value="<?php /* @escapeNotVerified */ if(!empty($formvalues['last-name'])) {echo $formvalues['last-name'];} ?>">
            <input type="hidden" class="form-control" name="date-of-birth"   value="<?php /* @escapeNotVerified */ if(!empty($formvalues['date-of-birth'])) {echo $formvalues['date-of-birth'];} ?>">
            <input type="hidden" class="form-control" name="zip-code" value="<?php /* @escapeNotVerified */ if(!empty($formvalues['zip-code'])) {echo $formvalues['zip-code'];} ?>">

            <div class="popup-model">
                <div class="form-field">
                    <div class="paragraph">
                        <p><?= /* @escapeNotVerified */  __("Please find the Subsciber ID and Member ID from your member's ID card (e.g. xxxxxxxxx-xx)") ?></p>
                    </div>
                    <label for="subscriber-id" class="form-label"><?= __("Member ID") ?></label>
                    <input type="text" class="form-control" name="subscriber-id" value="<?php /* @escapeNotVerified */ if(!empty($formvalues['subscriber-id'])) {echo $formvalues['subscriber-id'];} ?>" autocomplete="off"> <?= /* @escapeNotVerified */  __("-") ?>
                    <input type="text" class="form-control" name="member-id" value="<?php /* @escapeNotVerified */ if(!empty($formvalues['member-id'])) {echo $formvalues['member-id'];} ?>" autocomplete="off">
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><?= /* @escapeNotVerified */ __($applowAllowance) ?></button>
            <button type="submit" class="btn btn-primary cancel"><?= /* @escapeNotVerified */ __("Cancel") ?></button>
        </form>
    </div>
</div>

<script type="text/javascript">
require([
    "jquery",
    "mage/calendar",
    "Magento_Checkout/js/action/get-totals",
    'Magento_Checkout/js/model/quote',
    'Magento_Checkout/js/model/cart/totals-processor/default'
], function ($, calendar, getTotalsAction, quote, totalsDefaultProvider) {
    $("form#tinneo-member-discount button.cancel").click(function(event){
        event.preventDefault();
        $(".tinneo-member-section-popup.is-displayed").hide();
    });
});
</script>
