<?php

/**
 *
 * @block EyeQue\Linneo\Block\Member\Index
 */

$baseUrl = $block->getBaseUrl();

// Getting checkout session to get saved values.
$cartSession = $block->getCheckoutSession();
$formvalues = (array)$cartSession->getFormDataSession();
?>


<div class="tracking-nukber">
    <!-- <?php // if(array_key_exists("trackingNumber", $formvalues )) { ?>
        <p>Tracking Number : <?php /* @escapeNotVerified */ // __($formvalues['trackingNumber']) ?></p>
    <?php // } ?> -->
</div>

<?php $block->getSessionCheckoutClear(); ?>