<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="tinneo-member-section checkout">
    <div class="heading-section">
        <h4>Linneo Member Discount</h4>
    </div>
    <div class="content">
        <form class="tinneo-member-discount_checkout" id="tinneo-member-discount_checkout">
            <input type="hidden" class="form-control" name="cart-total">
            <input type="hidden" class="form-control" name="page-type" value="checkout">
            <div class="form-field">
                <label for="first-name" class="form-label">First Name</label>
                <input type="text" class="form-control" data-bind="value: firstName" name="first-name" required autocomplete="off">
            </div>
            <div class="form-field">
                <label for="last-name" class="form-label">Last Name</label>
                <input type="text" class="form-control" data-bind="value: lastName" name="last-name" required autocomplete="off">
            </div>
            <div class="form-field">
                <label for="date-of-birth" class="form-label">Date Of Birth</label>
                <input type="text" class="form-control hasDatepicker" data-bind="value: dateOfBirth" name="date-of-birth" id="calendar_inputField" required autocomplete="off">
            </div>
            <div class="form-field">
                <label for="zip-code" class="form-label">Zip Code</label>
                <input type="text" class="form-control" data-bind="value: zipCode" name="zip-code" required autocomplete="off">
            </div>
            
            <button class="btn btn-primary allowance-button" data-bind="style: { display: cssApplyButtonStyle }">Apply Allowance</button>
            <button class="btn btn-primary cancel-allowance-button" data-bind="style: { display: cssCancelButtonStyle }">Cancel Allowance</button>
        </form>
    </div>
</div>