.tinneo-member-section {
	display: block;
	position: relative;
	max-width: 400px;
	.content {
		display: none;
	}
}
body.checkout-index-index {
	.tinneo-member-section.checkout {
		max-width: 100%;
		form#tinneo-member-discount_checkout {
			padding: 30px;
			.form-field {
				max-width: 400px;
			}
		}
		.content {
			form#tinneo-member-discount_checkout {
				.form-field {
					padding-bottom: 15px;
				}
			}
		}
	}
	.tinneo-member-section {
		.heading-section {
			h4 {
				font-size: 14px;
				font-weight: 200;
				color: #1979c3;
				border-top: 1px solid #ccc;
				padding-bottom: 10px;
				cursor: pointer;
				margin: 0;
				width: 100%;
				padding-left: 20px;
				&:after {
					content: '\e622';
					font-family: 'icons-blank-theme';
					padding-left: 10px;
					font-size: 30px;
					color: #888;
					position: relative;
					top: 8px;
				}
			}
		}
	}
}
body.checkout-cart-index {
	.tinneo-member-section {
		.content {
			form#tinneo-member-discount {
				.form-field {
					padding-bottom: 10px;
				}
			}
		}
		.heading-section {
			h4 {
				font-size: 1.8rem;
				font-weight: 400;
				border-top: 1px solid #ccc;
				cursor: pointer;
				margin: 0;
				padding-left: 5px;
				line-height: 40px;
				&:after {
					content: '\e622';
					font-family: 'icons-blank-theme';
					font-size: 30px;
					color: inherit;
					position: absolute;
					right: -3px;
				}
			}
		}
		form#tinneo-member-discount {
			padding-left: 5px;
			label.form-label {
				font-weight: 600;
				font-size: 14px;
			}
		}
	}
}
.tinneo-member-section.checkout {
	button.cancel-allowance-button {
		display: none;
	}
}

// Cart page Popup Less
.tinneo-member-section-popup.not-displayed {
	display: none;
}
.tinneo-member-section-popup.is-displayed {
	position: fixed;
	max-width: 400px;
	background: #fff;
	left: 35%;
	top: 35%;
	padding: 20px;
	z-index: 999;
	border: 1px solid #d1d1d1;
	form#tinneo-member-discount {
		button.cancel {
			margin-left: 10px;
		}
		.popup-model {
			p {
				font-weight: 600;
			}
			input[name='subscriber-id'] {
				max-width: 200px;
				max-width: 200px;
				margin-bottom: 30px;
			}
			input[name='member-id'] {
				max-width: 50px;
			}
			label {
				display: block;
			}
		}
	}
}

// Checkout less for popup
body.checkout-index-index {
	.tinneo-member-section.checkout {
		form#tinneo-member-discount_checkout {
			.subscriber-field-show {
				display: none;
			}
		}
		.popup-window {
			position: fixed;
			max-width: 400px;
			background: #fff;
			left: 35%;
			top: 35%;
			padding: 20px;
			z-index: 999;
			border: 1px solid #d1d1d1;
			.paragraph {
				p {
					font-weight: 600;
				}
			}
			label.form-label {
				display: block;
			}
			input[name='subscriber-id'] {
				max-width: 200px;
				margin-bottom: 20px;
			}
			input[name='member-id'] {
				max-width: 50px;
			}
			button.popup-cancel {
				margin-left: 10px;
			}
		}
	}
}

body.checkout-cart-index .tinneo-member-section form.tinneo-member-discount button {
    margin-top: 15px;
}