<?php
/**
 *
 * @block EyeQue\Linneo\Block\Member\Index
 */

$baseUrl = $block->getBaseUrl();

// Getting checkout session to get saved values.
$cartSession = $block->getCheckoutSession();
$formvalues = (array)$cartSession->getFormDataSession();

// Getting display class if additionalInfo
$popupDisplayClass = $block->getPopupDisplayClass();

// Controller url and Allowance button
$controllerUrl = $block->getControllerUrl();
$applowAllowance = $block->getButtonLabel();

// Getting cart sub total.
$cartSubTotal = $block->getSubtotalHtmlCustom();
if( empty($cartSubTotal)) { $cartSubTotal = 0; }

?>

<div class="tinneo-member-section">
    <div class="heading-section">
        <h4><?= /* @escapeNotVerified */ __("Linneo Member Discount") ?></h4>
    </div>
    <div class="content">
        <form class="tinneo-member-discount" action="<?= /* @escapeNotVerified */ __($controllerUrl) ?>" method="post"  autocomplete="off" >
            <input type="hidden" class="form-control" name="cart-total" value="<?= /* @escapeNotVerified */ __($cartSubTotal) ?>">
            
            <div class="form-field">
                <label for="first-name" class="form-label"><?= /* @escapeNotVerified */ __("First name") ?></label>
                <input type="text" class="form-control" name="first-name" placeholder="Enter first name" value="<?php /* @escapeNotVerified */ if(!empty($formvalues['first-name'])) {echo $formvalues['first-name'];} ?>" autocomplete="off">
            </div>
            <div class="form-field">
                <label for="last-name" class="form-label"><?= /* @escapeNotVerified */ __("Last name") ?></label>
                <input type="text" class="form-control" name="last-name" placeholder="Enter last name" value="<?php /* @escapeNotVerified */ if(!empty($formvalues['last-name'])) {echo $formvalues['last-name'];} ?>" autocomplete="off">
            </div>
            <div class="form-field">
                <label for="date-of-birth" class="form-label"><?= /* @escapeNotVerified */ __("Date of birth") ?></label>
                <input type="text" class="form-control hasDatepicker" name="date-of-birth" placeholder="Enter date of birth"  value="<?php /* @escapeNotVerified */ if(!empty($formvalues['date-of-birth'])) {echo $formvalues['date-of-birth'];} ?>" id="calendar_inputField" autocomplete="off">
            </div>
            <div class="form-field">
                <label for="zip-code" class="form-label"><?= /* @escapeNotVerified */ __("Zip code") ?></label>
                <input type="text" class="form-control" name="zip-code" placeholder="Enter zipcode" value="<?php /* @escapeNotVerified */ if(!empty($formvalues['zip-code'])) {echo $formvalues['zip-code'];} ?>" autocomplete="off">
            </div>

            <?php if(!empty($formvalues['subscriber-id'])) { ?>
                <div class="form-field">
                    <label for="subscriber-id" class="form-label"><?= /* @escapeNotVerified */ __("Subscriber ID") ?></label>
                    <input type="text" class="form-control" name="subscriber-id" placeholder="Enter subscriber ID" value="<?php /* @escapeNotVerified */ echo $formvalues['subscriber-id']; ?>" autocomplete="off">
                </div>
                <div class="form-field">
                    <label for="member-id" class="form-label"><?= /* @escapeNotVerified */ __("Member ID") ?></label>
                    <input type="text" class="form-control" name="member-id" placeholder="Enter zipcode" value="<?php /* @escapeNotVerified */ echo $formvalues['member-id']; ?>" autocomplete="off">
                </div>
            <?php } ?>
            <button type="submit" class="btn btn-primary"><?= /* @escapeNotVerified */ __($applowAllowance) ?></button>
        </form>
    </div>
</div>

<script type="text/javascript">
require([
    "jquery",
    "mage/calendar",
    "Magento_Checkout/js/action/get-totals",
    'Magento_Checkout/js/model/quote',
    'Magento_Checkout/js/model/cart/totals-processor/default'
], function ($, calendar, getTotalsAction, quote, totalsDefaultProvider) {

    $('input#calendar_inputField').attr("autocomplete", "off");

    // Toggle  discount Form
    $(".tinneo-member-section .heading-section").click(function () {
        $header = $(this);
        $content = $header.next();
        $content.slideToggle(500, function () { });
    });

    $(window).load(function() {
        // Refreshiing Cart Summary after applying Discount.
        totalsDefaultProvider.estimateTotals(quote.shippingAddress());

        // Calender will be open after clicking on text field
        $("#calendar_inputField").calendar({
            changeYear: true,
            changeMonth: true,
            yearRange: "1970:2050",
            buttonText: "Select Date",
            dateFormat: 'yyyy/mm/dd',
        });
    });
});
</script>